[submodule "dragalia-chara-skill"]
	path = dragalia-chara-skill
	url = https://github.com/RaenonX-DL/dragalia-chara-skill.git
[submodule "dragalia-data-track"]
	path = dragalia-data-track
	url = https://github.com/RaenonX-DL/dragalia-data-track.git
